{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teacher Tasks | SchoolTask</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/teacher-tasks.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
  </head>

  <body>
    <main class="mainContainer dashboardContainer">
      <header class="dashboardHeader teacherHeader">
        <div class="headerText">
          <h1 class="pageTitle">My Assigned Tasks</h1>
          <p class="subtitle">View and manage tasks assigned to you.</p>
        </div>

        <div class="filterGroup">
          <form method="GET" action="{% url 'teacher_tasks' %}">
              <select name="priority-filter" id="priority-filter" class="filterSelect" onchange="this.form.submit()">
                <option value="all" {% if current_filter == 'all' %}selected{% endif %}>All Priorities</option>
                <option value="high" {% if current_filter == 'high' %}selected{% endif %}>High</option>
                <option value="medium" {% if current_filter == 'medium' %}selected{% endif %}>Medium</option>
                <option value="low" {% if current_filter == 'low' %}selected{% endif %}>Low</option>
              </select>
          </form>
        </div>
      </header>

      <section class="tableContainer">
        <table class="tasksTable">
          <thead>
            <tr>
              <th class="centered">ID</th>
              <th>Title</th>
              <th>Task Details</th>
              <th>From</th>
              <th class="centered">Priority</th>
              <th class="centered">Status</th>
              <th class="centered">Actions</th>
            </tr>
          </thead>

          <tbody id="teacherTasksBody">
            {% for task in tasks %}
            <tr>
              <td class="centered">{{ task.task_id }}</td>
              <td>{{ task.title }}</td>
              <td>{{ task.description|truncatewords:5 }}</td>
              <td>{{ task.created_by.username }}</td>
              <td class="centered">{{ task.get_priority_display }}</td>
              <td class="centered">
                <span style="color: rgb(132, 108, 63); font-weight:bold;">Pending</span>
              </td>
              <td class="centered">
                <a style="color: rgb(23, 64, 130);" href="{% url 'task_details' task.id %}" class="actionBtn">View Details</a>
              </td>
            </tr>
            {% empty %}
            <tr><td colspan="7" class="centered" style="padding: 20px;">No pending tasks. Great job!</td></tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
    </main>
    <script src="{% static 'js/index.js' %}"></script>
   <script src="{% static 'js/navbar.js' %}"></script>
  </body>
</html>